.button {
  display: flex;
  align-items: center;
  height: var(--input-height);
  padding: 12px;

  background-color: var(--color-dark-2);
  color: var(--color-gray-1);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-dark-2);

  &:hover {
    background-color: transparent;
    color: var(--color-dark-2);
  }

  &:active {
    scale: 1.05;
  }
}
