.field {
  position: relative;
  line-height: 1;

  &:has(.field__input:not(:placeholder-shown)) .field__label {
    scale: 0.7;
    translate: -1.75em -2.2em;
    color: var(--color-black);
  }
}

.field__label {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 17px;

  color: var(--color-gray-3);
}

.field__input {
  --fieldInputPaddingLeft: 16px;
  --fieldInputPaddingRight: 12px;
  --fieldInputLoupeSize: 16px;

  width: 100%;
  height: var(--input-height);
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  padding-inline: var(--fieldInputPaddingLeft) var(--fieldInputPaddingRight);

  &:hover,
  &:focus {
    color: var(--color-black);
  }

  &:focus {
    background-color: var(--color-gray-1);
    outline: none;
  }

  &[type="search"] {
    &:placeholder-shown {
      padding-right: calc(
        var(--fieldInputLoupeSize) + var(--fieldInputPaddingRight) + 8px
      );

      background-image: url("../../assets/icons/loupe.svg");
      background-position: calc(100% - var(--fieldInputPaddingRight)) 50%;
      background-repeat: no-repeat;
      background-size: var(--fieldInputLoupeSize);
    }
  }
}
