.todo {
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;

  /* justify-content: space-between;
  align-items: center; */

  width: 100%;
  max-width: 404px;
  min-height: 429px;
  row-gap: 24px;
  padding: 24px;
}

.todo__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.todo__form {
  display: flex;
  column-gap: 16px;
}

.todo__field {
  width: 100%;
}

.todo__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  color: var(--color-black);
  font-weight: 600;
}

.todo__total-tasks {
  display: flex;
  column-gap: 8px;
}

.todo__delete-all-button {
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover {
    color: var(--color-gray-4);
  }

  &:not(.is-visible) {
    opacity: 0;
    visibility: hidden;
  }
}

.todo__list,
.todo__empty-message {
  &:empty {
    display: none;
  }
}

.todo__list {
  --todoListRowGap: 8px;

  display: grid;
  row-gap: var(--todoListRowGap);
}

.todo__empty-message {
  text-align: center;
  color: var(--color-gray-4);
}
