body {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  padding: 30px;
  color: var(--color-dark-1);
  font-family: "Inter", sans-serif;
  background-color: var(--color-gray-1);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

div#root {
  height: 100%;
}

.beautiful-height {
  height: 0;
  flex-grow: 1;
  overflow: auto;
}

:focus-visible {
  outline: 2px dashed var(--color-black);
  outline-offset: 4px;
  transition-duration: 0s !important;
}
